<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>


  <mat-card class="kontainer">
      <h1>Currency Converter</h1>
      <form #converterForm="ngForm" class="furm" novalidate (ngSubmit)="onSubmit()">
          <mat-card class="kontainer1" >

              <mat-form-field appearance="fill">
                  <mat-label>Select a Currency</mat-label>
                  <mat-select #BaseCurrency=ngModel name="BaseCurrency" [(ngModel)]="currencyDetailsModel.from_currency" >
                  <mat-option *ngFor="let currency of currencies"  value="{{ currency.id}}" > {{ currency.currencyName }}</mat-option>
                  </mat-select>
                  <mat-hint>select a currecy to convert from</mat-hint>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill" >
                  <mat-label>
                    Amount
                  </mat-label>
                  <input type="" matInput name="amount" #amount=ngModel [(ngModel)]="currencyDetailsModel.amount">
                <p matSuffix></p>

                </mat-form-field>


          </mat-card>
              <br>

              <button mat-raised-button >Convert</button>
              <br>
              <br>
              <mat-card class="kontainer2">
                  <mat-form-field appearance="fill">
                      <mat-label>Select a currency</mat-label>
                      <mat-select #pairCurrency=ngModel name="pairCurrency" [(ngModel)]="currencyDetailsModel.to_currency">
                        <mat-option *ngFor="let currency of currencies"  value="{{ currency.id}}" > {{ currency.currencyName }}-{{ currency.currencySymbol }} </mat-option>
                      </mat-select>
                      <mat-hint>select the currecy to convert to</mat-hint>
                    </mat-form-field>
                    <br>
                <mat-form-field appearance="fill">
                  <mat-label>
                    Converted currency
                  </mat-label>
                  <input type="" matInput value={{result}}>
                  <p matSuffix></p>

                </mat-form-field>
              </mat-card>
      </form>


  </mat-card>



</body>
</html>
